
<html>
	<head>
	<div style="
	position: relative;
	padding-top: 7%;
	padding-right: 15%;
	padding-left: 15%;
	">
	</div>
	<div style="
	position: relative;
	padding-right: 15%;
	padding-left: 15%;
	">
		<h1><%= @title %></h1>
		<p><%= @content %></p>

<div>
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">Home</a>
  <a class="breadcrumb-item" href="#">So it begins</a>
  <a class="breadcrumb-item" href="#">Tarf</a>
  <span class="breadcrumb-item active">Encounters</span>
</nav>
</div>
	</head>

<body>
	<div style="
	left: 5px;
	padding: 5px;
	display: inline-block;
	position: fixed;
	border-style: double;
	">
	<h1><%= "My toolkit" %></h1>
</body>



