<h1>Blog Posts</h1>
<% @posts.each do |post| %>
	<div class="well">
		<h3><%= post.title %> </h3>
		<p><%= post.body %></p>
		<%= link_to "Read More", post_path(post), :class => 'btn
		btn-default' %>
	</div>
<% end %>
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to Storied!</h1>
          <p>This is a way for you to easily create and manage your adventures.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>It begins</h2>
            <p>Where the real adventures begin. Drunk strangers somehow end up teaming up, their curiosity getting the better of them when they see a small half-elf struggles down the stairs, carrying two goblins, nonchalantly stating her friend has turned into ashes...</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Everything crumbles</h2>
            <p>They all wake up dark and alone, with sounds of a ferocious fight somewhere above...</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>What now?</h2>
            <p>They have failed. The world they are in now is nothing to what they can comprehend. What has changed, and how will they live with the knowledge that it is their fault that the dimensions have crumbled?</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>